<%- include ('../includes/head.ejs') %>

<body>
  <%- include ('../includes/nav.ejs') %>
  <main>
    <div class="container p-5 mt-5 shadow-lg rounded-5">
      <% if(products?.length > 0) { %>
      <h1 class="text-center mb-5">Your Cart</h1>
      <% for(let i=0;i < products.length; i++) { %>
      <div class="mb-3 container p-3 pt-4 shadow-lg rounded-1">
        <div class="row">
          <div class="col-2">
            <p class="text-center">
              <%= i + 1 %>
            </p>
          </div>
          <div class="col-6">
            <p>
              <%= products[i].productId.title %>
            </p>
          </div>
          <div class="col-2">
            <p class="text-center">
              <%= products[i].quantity %>
            </p>
          </div>
        </div>
      </div>
      <h3 class="text-end">Total: <%= totalSum %></h3>
      <div class="text-center mt-3">
        <button type="button" id="orderBtn" class="px-5 py-2 btn btn-dark">Payment</button>
        <input id="sessionId" type="hidden" value="<%= sessionId %>">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="/js/payment.js"></script>
      </div>
      <% } %>
      <% } else { %>
      <h1 class="text-center">You don't have any item in your cart to checkout!</h1>
      <% } %>
    </div>
    </div>
  </main>
  <%- include ('../includes/end.ejs') %>