<%- include ('../includes/head.ejs') %>

  <body>
    <%- include ('../includes/nav.ejs') %>
    
      <main>
        <div class="container p-5 mt-5 shadow-lg rounded-5">
          <div class="card rounded-5" >
            <img src="/<%= product.imgUrl %>" alt="hutao image" class="card-img-top " />
            <div class="card-body">
              <h4 class="card-title mb-3 text-center">
                <%= product.title %>
              </h4>
              <p class="card-text text-center mb-3">
                <%= product.description %>
              </p>
              <div class="row g-1">
                <div class="col-5">
                  <button class="btn fw-bold btn-outline-dark rounded-3 w-100">
                    $<%= product.price %>
                  </button>
                </div>
                <div class="col-7">
                  <%- include ('../includes/add-to-cart.ejs', {product: product}) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <%- include ('../includes/end.ejs') %>